/**
 * Media Query Breakpoints */

.login-page {
  background-color: #ABABAB;
  background-image: url(/images/bg-login.jpg?ae8b656e7e61713570fcbb478647c22f);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.login-page .invalid-feedback {
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: -22px;
  color: #F44336;
  font-size: 0.875em;
}

.login-page .logo small {
  color: #161616 !important;
}

.login-page .logo img {
  width: 100%;
  margin-bottom: 20px;
}

.login-page .link {
  font-size: 14px;
  font-weight: 500;
  color: #449d44 !important;
}

.display-none {
  display: none !important;
}

.font15 {
  font-size: 15px;
}

.image-holder {
  display: inline-block;
  padding: 10px;
  box-shadow: 0px 0px 4px 1px #d0d0d0;
  height: 120px;
  vertical-align: bottom;
  cursor: pointer;
  margin-right: 5px;
}

.rating-stars {
  width: 20px;
}

.custom-flex {
  display: flex;
  flex-wrap: wrap;
}

.custom-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.custom-row--nowrap {
  flex-wrap: nowrap;
}

.custom-col {
  flex: 0 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.custom-col--12 {
  width: 100%;
}

.custom-col--11 {
  width: 90%;
}

.custom-col--10 {
  width: 83.33%;
}

@media screen and (max-width: 1200px) {
  .custom-col--10 {
    width: 100%;
  }
}

.custom-col--9 {
  width: 75%;
}

.custom-col--8 {
  width: 66.66%;
}

.custom-col--6 {
  width: 50%;
}

.custom-col--5 {
  width: 41.66%;
}

.custom-col--4 {
  width: 33.33%;
}

@media screen and (max-width: 1200px) {
  .custom-col--4 {
    width: 50%;
  }
}

.custom-col--3 {
  width: 25%;
}

.custom-col--2 {
  width: 16.66%;
}

.custom-col--1 {
  width: 10%;
}

.dataTables_wrapper {
  padding: 0px 15px;
}

.bootstrap-tagsinput {
  height: 34px;
  padding: 6px 0px;
}

.bootstrap-tagsinput input {
  padding: 0px 0px;
}

.bootstrap-tagsinput .tag {
  background-color: #449d44;
  font-size: 0.875em;
}

.btn span {
  text-transform: uppercase;
  font-weight: 500;
}

.btn-primary {
  background-color: #449d44 !important;
  color: #FFFFFF !important;
}

.btn-primary i {
  color: #FFFFFF !important;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #357935 !important;
}

.form-group .form-line::after,
.input-group .form-line::after {
  border-color: #449d44;
}

.label--rounded {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 25px;
}

.block-title {
  padding: 8px 0px;
  border-bottom: solid 2px;
  border-color: #b5dfb5;
}

.block-title i {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

img.lazy {
  transition: opacity 1s ease;
  opacity: 0;
}

img.lazy.loaded {
  opacity: 1;
}

.content__loader {
  position: absolute;
  z-index: 5;
  top: -5px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #E9E9E9;
  opacity: 1;
  transition: opacity 500ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content__loader i {
  font-size: 6rem;
  color: #449d44;
  -webkit-animation: spin 1.5s infinite linear;
          animation: spin 1.5s infinite linear;
}

.content__loader.loaded {
  z-index: 0;
  opacity: 0;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

section.content {
  position: relative;
  height: calc(100vh - 110px);
}

.card .body {
  position: relative;
}

.card .body .content__loader {
  background-color: #FFFFFF;
}

.image-upload {
  width: 100%;
  max-width: 300px;
}

.image-upload__input {
  width: 0px;
  height: 0px;
  visibility: hidden;
}

.image-upload__preview {
  width: 300px;
  height: 300px;
  background-color: #E9E9E9;
  cursor: move;
  margin-bottom: 10px;
}

.image-upload__options {
  text-align: center;
  margin-top: 5px;
}

.image-upload__options a {
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
}

.image-upload__options a i {
  font-size: 2em;
}

.custom-alert {
  position: fixed;
  left: 0px;
  top: 75px;
  width: calc(100% - 60px);
  margin: 0px 30px;
  z-index: 0;
  opacity: 0;
  -webkit-transform: translateY(-75px);
          transform: translateY(-75px);
  visibility: hidden;
  transition: all 300ms ease;
}

@media screen and (min-width: 1200px) {
  .custom-alert {
    width: calc(100% - 350px);
    margin-left: 325px;
  }
}

.custom-alert.show {
  z-index: 100;
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.card .header .card-options {
  position: absolute;
  top: 20px;
  right: 15px;
  list-style: none;
  display: flex;
  align-items: center;
}

.card .header .card-options .option-select {
  min-width: 280px;
  margin: 0px 10px;
}

.card .header .card-options .option-select .caret {
  right: 0px;
}

.table-responsive {
  min-height: 200px;
}

.table-thumb {
  position: relative;
  width: 80px;
  height: 80px;
  line-height: 80px;
  overflow: hidden;
  background-color: #d4d4d4;
  border-radius: 50%;
}

.table-thumb::after {
  content: " ";
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 1px;
  box-shadow: 0px 0px 10px 10px #e1e1e1;
  background-color: #e1e1e1;
  z-index: 1;
  -webkit-animation: bgColorSlide 1s infinite linear;
          animation: bgColorSlide 1s infinite linear;
}

.table-thumb img {
  position: relative;
  z-index: 2;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.table-icon-thumb {
  font-size: 90px;
  margin: -5px;
}

.table-icon-detail {
  font-weight: 500;
}

.table-icon-detail i {
  vertical-align: middle;
  color: #449d44;
}

@-webkit-keyframes bgColorSlide {
  0% {
    left: 0px;
  }

  100% {
    left: 90px;
  }
}

@keyframes bgColorSlide {
  0% {
    left: 0px;
  }

  100% {
    left: 90px;
  }
}

.media__thumb {
  position: relative;
  width: 80px;
  height: 80px;
  line-height: 80px;
  overflow: hidden;
  background-color: #d4d4d4;
  border-radius: 50%;
}

.media__thumb::after {
  content: " ";
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 1px;
  box-shadow: 0px 0px 10px 10px #e1e1e1;
  background-color: #e1e1e1;
  z-index: 1;
  -webkit-animation: bgColorSlide 1s infinite linear;
          animation: bgColorSlide 1s infinite linear;
}

.media__thumb img {
  position: relative;
  z-index: 2;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.media__title {
  font-size: 2rem !important;
  margin-top: 20px;
}

.media__icon {
  font-size: 90px;
  margin: -5px;
}

.hours-select {
  margin-top: 10px;
}

.hours-select label {
  display: inline-block;
  min-width: 110px;
  margin-right: 10px;
}

.hours-select .switch {
  display: inline-block;
}

.bootstrap-select.btn-group .dropdown-toggle .caret {
  right: 0px;
}

[type=checkbox]:not(:checked),
[type=checkbox]:checked {
  left: 0px;
}

[type=checkbox]:not(:checked) ~ label,
[type=checkbox]:checked ~ label {
  font-weight: 500;
}

.navbar-brand {
  padding: 1px 15px;
}

.navbar-brand .navbar-logo {
  height: auto;
  max-height: 100px;
  max-width: 200px;
}

.dashboard .card {
  margin-bottom: 15px;
}

.dashboard .reservation .body {
  height: calc(100vh - 180px);
}

.dashboard .wait .body {
  height: calc(50vh - 110px);
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.reservation-page {
  margin: 85px 0 0 300px !important;
}

@media screen and (max-width: 1200px) {
  .reservation-page {
    margin-left: 0 !important;
  }
}

.reservation-page #reservation-row {
  overflow-x: auto;
}

.reservation-page .status--scheduled .header,
.reservation-page .status--scheduled .reservation-details__list__title > .label {
  background-color: #ffc107;
  color: #FFFFFF;
}

.reservation-page .status--scheduled .header h2,
.reservation-page .status--scheduled .reservation-details__list__title > .label h2 {
  color: #FFFFFF;
}

.reservation-page .status--confirmed .header,
.reservation-page .status--confirmed .reservation-details__list__title > .label {
  background-color: #009688;
  color: #FFFFFF;
}

.reservation-page .status--confirmed .header h2,
.reservation-page .status--confirmed .reservation-details__list__title > .label h2 {
  color: #FFFFFF;
}

.reservation-page .body {
  min-height: 400px;
  height: calc(100vh - 160px);
  padding: 0px;
  overflow-y: auto;
  position: relative;
}

.reservation-page .body .loader {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 1;
  transition: all 300ms ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reservation-page .body .loader i.material-icons {
  font-size: 4em;
  color: #a1a1a1;
  -webkit-animation: rotate linear 1s infinite;
          animation: rotate linear 1s infinite;
}

.reservation-page .body.loaded .loader {
  opacity: 0;
  z-index: -1;
}

.reservation-page .reservation {
  margin-bottom: 15px;
}

.reservation-page .reservation__item {
  padding: 15px;
  border-bottom: 1px solid #E9E9E9;
  cursor: pointer;
  transition: background-color 300ms ease;
}

.reservation-page .reservation__item:hover {
  background-color: #E9E9E9;
}

.reservation-page .reservation__item .row > div {
  margin-bottom: 10px;
}

.reservation-page .reservation__item .row > div:last-child {
  margin-bottom: 0px;
}

.reservation-page .reservation__item .label {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  padding: 0 0.8em;
}

.reservation-page .reservation__item__id {
  font-size: 0.875em;
}

.reservation-page .reservation__item__client {
  font-size: 1.25em;
  font-weight: 500;
}

.reservation-page .reservation__item__service {
  margin-right: 4px;
}

.reservation-page .reservation .no-data {
  position: relative;
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reservation-page .reservation .no-data__info {
  margin: 0;
  padding: 0 0 60px;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  color: #a1a1a1;
}

.reservation-page .reservation-details {
  margin-bottom: 15px;
}

.reservation-page .reservation-details .body {
  height: calc(100vh - 305px);
}

.reservation-page .reservation-details__header {
  padding: 15px;
  border-bottom: 1px solid #E9E9E9;
}

.reservation-page .reservation-details__header .row > div {
  margin-bottom: 0px;
}

.reservation-page .reservation-details__id {
  font-size: 0.825em;
  font-weight: 500;
}

.reservation-page .reservation-details__client,
.reservation-page .reservation-details__date {
  font-size: 1.25em;
  font-weight: 500;
}

.reservation-page .reservation-details__pax i {
  color: #449d44;
  cursor: default;
}

.reservation-page .reservation-details__list {
  padding: 0px 15px;
  position: relative;
}

.reservation-page .reservation-details__list__title {
  margin-bottom: 0px;
  position: absolute;
  top: -28px;
  left: 12px;
}

.reservation-page .reservation-details__item {
  padding: 15px 0px;
  border-bottom: 1px solid #E9E9E9;
  display: flex;
}

.reservation-page .reservation-details__item:last-child {
  border-bottom: none;
}

.reservation-page .reservation-details__item__img-wrap {
  width: 60px;
  margin-right: 10px;
}

.reservation-page .reservation-details__item__specialist {
  font-weight: 600;
}

.reservation-page .reservation-details__item__info-wrap {
  flex-basis: calc(100% - 170px);
}

.reservation-page .reservation-details__item__info-wrap--right {
  flex-basis: 100px;
  width: 100px;
  text-align: right;
}

.reservation-page .reservation-details__item__option-wrap {
  margin-top: 10px;
}

.reservation-page .reservation-details__item__option-wrap a.btn {
  margin-right: 4px;
}

.reservation-page .reservation-details__item__option-wrap a.btn i.material-icons {
  top: 2px;
}

.reservation-page .reservation-details__item__option-wrap a.btn:last-child {
  margin-right: 0;
}

.reservation-page .reservation-details__item__img {
  background-color: #E9E9E9;
  width: 60px;
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center center;
     object-position: center center;
}

.reservation-page .reservation-details__item__service {
  font-weight: 500;
  font-size: 1.125em;
}

.reservation-page .reservation-details__item__price {
  font-size: 1.25em;
  font-weight: 600;
  text-align: right;
}

.reservation-page .reservation-details .footer {
  height: 145px;
  border-top: 1px solid #E9E9E9;
}

.reservation-page .reservation-details__btn {
  font-weight: 600;
  width: 49.6%;
  box-shadow: none !important;
  border-radius: 0px !important;
}

.reservation-page .reservation-details__closed {
  height: 145px;
  width: 100%;
  font-size: 20px !important;
  line-height: 145px;
}

.reservation-page .reservation-form .body {
  padding: 15px;
  height: calc(100vh - 221px);
}

.reservation-page .reservation-form label {
  margin-bottom: 0px;
}

.reservation-page .reservation-form .body > .custom-row {
  position: relative;
  height: 100%;
}

.reservation-page .reservation-form .body > .custom-row > div.custom-col {
  margin-top: -15px;
}

.reservation-page .reservation-form .body > .custom-row > div.custom-col:first-child {
  border-right: 1px solid #E9E9E9;
  margin-bottom: -15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.reservation-page .reservation-form .input-group {
  margin-bottom: 10px;
}

.reservation-page .reservation-form .guest-count,
.reservation-page .reservation-form .guest-btn {
  margin-top: 10px;
}

.reservation-page .reservation-form .guest-count {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  border: none;
  width: 30px;
  height: 20px;
  line-height: 20px;
  font-size: 2rem;
  font-weight: 500;
}

.reservation-page .reservation-form .services-wrap {
  padding-top: 15px;
}

.reservation-page .reservation-form .services-wrap .services-title {
  margin: 0px 0px 10px;
  text-transform: uppercase;
}

.reservation-page .reservation-form .services-wrap .services-title:after {
  content: " ";
  clear: both;
}

.reservation-page .reservation-form .services-wrap .services-title .label {
  float: right;
  display: inline-block;
  vertical-align: middle;
}

.reservation-page .reservation-form .services-wrap .input-group {
  margin-bottom: 0px;
}

.reservation-page .reservation-form .services-wrap .input-group .form-control {
  z-index: unset;
}

.reservation-page .reservation-form .services-wrap .input-group-addon {
  padding-right: 5px;
}

.reservation-page .reservation-form .services-wrap .service-time__btn {
  box-shadow: none;
}

.reservation-page .reservation-form .services-wrap .service-time__label {
  font-size: 0.875em;
}

.reservation-page .reservation-form .services-wrap .services-list .custom-row {
  border-top: solid 2px #a1a1a1;
  border-bottom: solid 1px #E9E9E9;
  padding-top: 10px;
  padding-bottom: 10px;
}

.reservation-page .reservation-form .services-wrap .services-list .input-group {
  margin-bottom: 10px;
}

.reservation-page .reservation-form .services-wrap .service-add {
  padding: 20px 0 10px;
  text-align: right;
}

.reservation-page .reservation-form .services-wrap .service-add__btn i.material-icons {
  vertical-align: middle;
  top: 0px;
}

.reservation-page .reservation-form .services-wrap:last-child .services-list .custom-row {
  border-bottom: none;
}

.reservation-page .reservation-form .footer {
  border-top: solid 1px #E9E9E9;
}

.reservation-page .reservation-form__options {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.reservation-page .reservation-form__options .btn {
  text-transform: uppercase;
}

.reservation-page .reservation-timeline .time-container {
  flex-basis: 120px;
  width: 120px;
  text-align: center;
}

.reservation-page .reservation-timeline .specialist-container {
  flex: 1;
  flex-basis: calc(100% - 120px);
  width: calc(100% - 120px);
}

.reservation-page .reservation-timeline .list-header {
  padding: 5px 0;
  height: 80px;
  line-height: 70px;
}

.reservation-page .reservation-timeline ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.reservation-page .reservation-timeline ul li {
  height: 60px;
  border-top: 1px solid #E9E9E9;
}

.reservation-page .reservation-timeline ul li.overlap {
  height: 120px;
}

.reservation-page .reservation-timeline ul.list-time li {
  line-height: 60px;
  font-weight: 500;
}

.reservation-page .reservation-timeline ul.list-time li.overlap {
  line-height: 120px;
}

.reservation-page .reservation-timeline .specialist-block {
  flex: 0 0 auto;
  flex-basis: 180px;
  width: 180px;
  padding: 0 10px;
}

.reservation-page .reservation-timeline .specialist-block:nth-child(odd) {
  background-color: #F5F5F5;
}

.reservation-page .reservation-timeline .specialist-block .specialist-header {
  text-align: center;
  padding: 5px 0;
  height: 80px;
  position: relative;
}

.reservation-page .reservation-timeline .specialist-block .specialist-header .specialist-thumb {
  width: 60px;
  height: 60px;
  display: inline-block;
  -o-object-position: center center;
     object-position: center center;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.reservation-page .reservation-timeline .specialist-block .specialist-header .specialist-name {
  position: absolute;
  width: 100%;
  bottom: 1px;
  left: 0;
  text-align: center;
}

.reservation-page .reservation-timeline .specialist-block .specialist-header .specialist-name .label {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
}

.reservation-page .reservation-timeline .reservation-block {
  padding: 2px 5px;
  background: #FFFFFF;
  height: 60px;
  overflow: hidden;
}

.reservation-page .reservation-timeline .reservation-block:nth-child(2) {
  border-top: 1px solid #E9E9E9;
}

.reservation-page .reservation-timeline .reservation-block .t-ref-number {
  font-size: 10px;
}

.reservation-page .reservation-timeline .reservation-block .t-service-title {
  font-weight: 700;
  font-size: 12px;
  margin: 2px 0;
}

.reservation-page .reservation-timeline .reservation-block .t-service-time {
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
}

.nav li a.reservation-new-button {
  background-color: #357935;
  text-transform: uppercase;
  margin-left: 10px;
  font-size: 1.25rem;
  font-weight: 500;
  height: 38px;
  line-height: 38px;
  padding: 0 8px;
}

.nav li a.reservation-new-button i.material-icons {
  vertical-align: middle;
  font-size: 1.75em;
}

.nav li a.reservation-new-button:hover,
.nav li a.reservation-new-button:focus {
  background-color: #357935;
}

.merchant-form form {
  padding-top: 25px;
}

.merchant-form .switch {
  display: inline-block;
}

.setting-sidebar .make-active {
  color: #e91e63;
}

.setting-sidebar hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.setting-sidebar ul {
  list-style: none;
  padding-left: 20px;
  margin-top: 10px;
}

.setting-sidebar ul li {
  margin-top: 10px;
}

.setting-sidebar ul li span {
  display: inline-block;
  width: 95%;
  cursor: pointer;
}

.setting-sidebar ul li span strong {
  vertical-align: super;
}

.setting-sidebar ul li ul {
  list-style: none;
  padding-left: 30px;
}

.setting-sidebar ul li ul li {
  padding: 5px 0px;
  margin-top: 0px;
}

.setting-sidebar ul li ul li a {
  color: #000;
}

.setting-sidebar ul li ul li:hover {
  text-decoration: none;
}

.setting-sidebar ul li ul li a.active {
  color: #e91e63;
  font-weight: bold;
}

.notification {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 9999;
}

.notification__destroy {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 12px;
  color: #a1a1a1;
}

.notification__destroy:hover,
.notification__destroy:focus {
  color: #161616;
}

.notification__block {
  position: relative;
  width: 350px;
  margin-top: 15px;
  background-color: #FFFFFF;
  box-shadow: 0 0 3px 1px #b5b5b5;
  height: 65px;
  display: flex;
}

.notification__block__icon {
  flex-basis: 60px;
  width: 60px;
  height: 65px;
  color: #FFFFFF;
  text-align: center;
}

.notification__block__icon i.material-icons {
  font-size: 28px;
  line-height: 65px;
  margin: 0;
  padding: 0;
}

.notification__block__details {
  padding: 5px;
  flex-basis: calc(100% - 60px);
  width: calc(100% - 60px);
}

.notification__block.close {
  -webkit-transform: translateX(400px);
          transform: translateX(400px);
  transition: -webkit-transform 300ms ease-in;
  transition: transform 300ms ease-in;
  transition: transform 300ms ease-in, -webkit-transform 300ms ease-in;
}

.notification .details__date {
  font-size: 12px;
  font-weight: 500;
}

.notification .details__date span {
  font-weight: 400;
  font-style: italic;
}

.notification .details__customer {
  font-size: 13px;
  font-weight: 500;
}

