@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/material-design-icons/MaterialIcons-Regular.eot);
  src: local("Material Icons"), local("MaterialIcons-Regular");
  src: url(/fonts/material-design-icons/MaterialIcons-Regular.woff2) format("woff2");
  src: url("/fonts/material-design-icons/MaterialIcons-Regular.woff") format("woff");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: "liga";
          font-feature-settings: "liga";
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto/Roboto-Light-webfont.eot");
  src: url("/fonts/roboto/Roboto-Light-webfont.eot?#iefix") format("embedded-opentype");
  src: url("/fonts/roboto/Roboto-Light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto/Roboto-Regular-webfont.eot");
  src: url("/fonts/roboto/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype");
  src: url("/fonts/roboto/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto/Roboto-Italic-webfont.eot");
  src: url("/fonts/roboto/Roboto-Italic-webfont.eot?#iefix") format("embedded-opentype");
  src: url("/fonts/roboto/Roboto-Italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto/Roboto-Medium-webfont.eot");
  src: url("/fonts/roboto/Roboto-Medium-webfont.eot?#iefix") format("embedded-opentype");
  src: url("/fonts/roboto/Roboto-Medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto/Roboto-Bold-webfont.eot");
  src: url("/fonts/roboto/Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype");
  src: url("/fonts/roboto/Roboto-Bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

